<div ng-init="getUsers()">
  <header ng-include src="'Views/Header/header.html'"></header>

  <div class="container">
    <a
      class="m-3 btn btn-warning fs-6 text-decoration-none"
      href="#!/createNewUser"
    >
      Create New User <img width="25px" src="/Assets/plus.png" alt="plus" />
    </a>
  </div>

  <div class="d-flex justify-content-center">
    <input
      class="form-control w-50"
      type="text"
      ng-model="searchQueryTemp"
      placeholder="Search by Name"
    />
    <div>
      <button class="btn btn-warning ms-2" ng-click="performSearch()">
        <img src="/Assets/search.png" width="20px" alt="search" />
      </button>
      <button ng-click="resetInput()" class="btn btn-danger m-auto">
        Reset
      </button>
    </div>
  </div>

  <div class="container mt-4">
    <div class="container">
      <table
        class="table text-center table-warning table-striped-columns"
        border="1"
        width="100%"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User Type</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in users">
            <td
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              ng-click="update(item)"
            >
              <a href="">#{{item.id}}</a>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.userType }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination controls -->
      <div class="d-flex justify-content-between">
        <nav class="d-flex justify-content-between">
          <ul class="pagination">
            <li class="page-item" ng-class="{'disabled': currentPage == 1}">
              <a class="page-link" href="" ng-click="setPage(1)"><<</a>
            </li>
            <li class="page-item" ng-class="{'disabled': currentPage == 1}">
              <a class="page-link" href="" ng-click="prevPage()"><</a>
            </li>
            <li
              class="page-item"
              ng-class="{'active': page == currentPage - 1}"
            >
              <a class="page-link" href="" ng-click="setPage(page + 1)"
                >{{currentPage}} / {{totalPages}}</a
              >
            </li>
            <li
              class="page-item"
              ng-class="{'disabled': currentPage == totalPages}"
            >
              <a class="page-link" href="" ng-click="nextPage()">></a>
            </li>
            <li
              class="page-item"
              ng-class="{'disabled': currentPage == totalPages}"
            >
              <a class="page-link" href="" ng-click="setPage(totalPages)">>></a>
            </li>
          </ul>
        </nav>
        <div class="form-group col-md-2 d-flex align-items-center text-start">
          <label for="rowsPerPage">Rows per page:</label>
          <select
            id="rowsPerPage"
            ng-model="itemsPerPage"
            ng-options="option for option in rowsPerPageOptions"
            class="form-control w-auto"
          ></select>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form ng-submit="submitUpdateUser()">
          <div ng-if="errorUpdateUserMessage || updateSuccessMessage">
            <p
              class="alert"
              ng-class="{
                    'alert-danger': errorUpdateUserMessage,
                    'alert-success': updateSuccessMessage
                }"
            >
              {{ errorUpdateUserMessage || updateSuccessMessage }}
            </p>
          </div>
          <div class="form-group">
            <label for="userName">Name</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              ng-model="selectedUser.name"
              required
            />
          </div>

          <div class="form-group">
            <label for="userType">User Type</label>
            <select
              id="userType"
              class="form-control"
              ng-model="selectedUser.userType"
              required
            >
              <option value="Admin">Admin</option>
              <option value="Lead">Lead</option>
              <option value="Annotator">Annotator</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          ng-click="submitUpdateUser()"
          class="btn btn-warning"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
